<%- include('partials/header'); -%>

    <h2><%=currentp%>:</h2>
    <p><%=postc%></p>
    
    <div class="composediv">
        <form action="/bcd" method="POST">
            <button type="submit" class="btn btn-primary composebtn">Blogs</button>
        </form>
    </div>

