<h1>Login:</h1>


<div >
    <form action="/" method="POST">
        <label for="inputcode">CODE:</label>
        <input type="text" name="inputcode" id="inputcode">
        <button type="submit" class="btn btn-primary">login</button>
    </form>
</div>
