<%- include('partials/header'); -%>

<h1>HOME</h1>

<p><%=homep%></p>
<div class="blogshome">
    <form action="/bcd" method="POST">
        <button type="submit" class="btn btn-primary composebtn">Blogs</button>
    </form>
</div>
